<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Calculus</title>
</head>
<body>
    <h1>Start Image</h1>
    <form action="{{ url_for('calculus') }}" method="post" enctype="multipart/form-data">
        {% if image_name %}
        <img src="{{ url_for('static', filename=image_name) }}" alt="Start Image">
    {% endif %}
    </form>

    <h1>Enter Angle</h1>
    <form action="{{ url_for('calculus') }}" method="post" enctype="multipart/form-data">
        <label for="number-input">Enter Angle:</label>
        <input type="number" id="number-input" name="number-input"><br><br>
        <script src="https://www.google.com/recaptcha/enterprise.js?render=6Ld9IR8mAAAAAJf5-EQ8r5vh_2YurzpcF6RCwS9A"></script>
        <input type="submit" value="Submit">
    </form>
    <br><br>
</body>
</html>