<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Загрузка картинки</title>
</head>
<body>
    <h1>Upload an Image</h1>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <br><br>
    </form>
    <h1>Enter Angle</h1>
    <form action="{{ url_for('calculus') }}" method="post" enctype="multipart/form-data">
        <label for="number-input">Enter Angle:</label>
        <input type="number" id="number-input" name="number-input"><br><br>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>